{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="main">
    <h1>Shopping cart</h1>
    <h2 class="sub-heading">Free shipping from $100!</h2>
  
    <section class="shopping-cart">
      <ol class="ui-list shopping-cart--list" id="shopping-cart--list">

        {% for cart_product in cart_products %}
          <li class="_grid shopping-cart--list-item">
            <div class="_column product-image">
              <img class="product-image--img image" src="{{cart_product.product_image.url}}" alt="Item image" />
            </div>
            <div class="_column product-info">
              <h4 class="product-name">{{cart_product.product_name}}</h4>
              <p class="product-desc"></p>
              <input class="price product-single-price" id="product_price" value="{{cart_product.product_price}}" readonly/>
            </div>
            <div class="_column product-modifiers">
              <div class="_grid">
                <button class="_btn _column product-subtract" id="minus" onclick="{minus_count()}">&minus;</button>
                <input class="_column product-qty" id="count" value=1 name="{{cart_product.pk}}"readonly/>
                <button class="_btn _column product-plus" id="plus" onclick="{plus_count()}">&plus;</button>
              </div>
              <a href="{% url 'web:remove' pk=cart_product.pk %}" class="_btn entypo-trash product-remove">Remove</a>
              <input class="price product-total-price" id="total" value="0.00" readonly/>
            </div>
          </li>
        {% endfor %}
  
      </ol>
  
      <footer class="_grid cart-totals">
        <div class="_column subtotal" id="subtotalCtr">
          <div class="cart-totals-key" >Subtotal</div>
          <input class="cart-totals-value" id="subtotal" value="0.00" readonly />
        </div>
        <div class="_column shipping" id="shippingCtr">
          <div class="cart-totals-key">Shipping</div>
          <input class="cart-totals-value" id="shipping" value="30" readonly/>
        </div>
        <div class="_column taxes" id="taxesCtr">
          <div class="cart-totals-key">Taxes (6%)</div>
          <input class="cart-totals-value" id="tax" value="0.00" readonly/>
        </div>
        <div class="_column total" id="totalCtr">
          <div class="cart-totals-key">Total</div>
          <input class="cart-totals-value" id="grant_total" value="0.00" readonly/>
        </div>
        <div class="_column checkout">
          <button class="_btn checkout-btn entypo-forward">Checkout</button>
        </div>
      </footer>
  
    </section>
  </div>

{% endblock %}