<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Minics</title>

  <link href="{% static 'css/login.css' %}" rel="stylesheet" />

</head>

<body>
<div class="login">
  <div class="log">
    <a href="{% url 'web:user_login' %}" class="nonactive log"> sign in </a>

    <a href="{% url 'web:user_signup' %}" class="active log"> sign up </a>
</div>
  <form action="{% url 'web:add_signup_user' %}" method="post" class="signup" >
      {% csrf_token %}

      <input type="numer" placeholder="Enter the OTP sent to your Mobile" class="text" name="otp" />

     <span class="span">Enter OTP</span>

    <br>
    <button class="signin">
      Submit
    </button>


    <hr>

  </form>

</div>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/sweetalert2.min.js' %}"></script>

</body>
</html>