<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Minics</title>

  <link href="{% static 'css/login.css' %}" rel="stylesheet" />

</head>

<body>
<div class="login">
  <h2 class="nonactive"> sign in </h2>

  <h2 class="active"> sign up </h2>
  <form action="{% url 'web:user_login' %}" method="post">
      {% csrf_token %}

    <input type="text" class="text" name="username">
     <span>Username</span>

    <br>
    
    <br>

    <input type="password" class="text" name="password">
    <span>Password</span>
    <br>

    <input type="password" class="text" name="confirm_password">
    <span>Confirm Password</span>
    <br>

    <input type="password" class="text" name="email">
    <span>Email</span>
    <br>
    
    <button class="signin">
      Sign Up
    </button>


    <hr>

  </form>

</div>
</body>
</html>